.footer {
  padding-block: var(--nav-bar-padding-block);
  margin-top: var(--section-margin-top);
}

.footerWrapper {
 display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socialMediaIcons {
  display: flex;
  gap: 1.8rem;
}

.socialMediaIcon {
  cursor: pointer;
}


