.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.backgroundImage{
  border-radius: var(--border-radius-card);
  display: flex;
  align-items: center;
  justify-content: center;
  height:50vh;
  width: fit-content;
}

.heroImage{
  border-radius: var(--border-radius-card);
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}

.projectLogo {
  overflow: none;
  border-radius: 40px;
  height: 10rem;
  width: 10rem;
}

.heroProjectInfo {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.projectDescription {
  height: 100%;
  width: 50%;
}

.projectDescription > h1,
.projectDescription > h2 {
  line-height: var(--line-heigth-title);
  padding-block-end: var(--font-size-heading-body-large);
}

.projectDescription > h3,
.projectDescription > h4,
.projectDescription > h5,
.projectDescription > h6 {
  line-height: var(--line-heigth-title);
  padding-block-end: var(--font-size-heading-bod-larg);
}

.projectDescription > ul {
  list-style-type: disc;
  padding: 1.4em 2.8em;
}
.projectDescription > p,
.projectDescription > ul > li {
  padding-block-end: var(--font-size-body);
}
