@media(prefers-reduced-motion: no-preference) {
  .gradientBg {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .backgroundSvg {
    display: none;
  }

  .gradientsContainer {
    filter: blur(40px) ;
    height: 100%;
    margin-top: 20vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .gradient1 {
    animation: moveVertical 30s ease infinite;
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blening);
    opacity: 0.8;
    position: absolute;
    top: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    width: var(--circle-size);

background: radial-gradient(
      circle at center,
      rgba(var(--color-gradient-1), 0.8) 0,
      rgba(var(--color-gradient-1), 0) 50%
     ) no-repeat;
  }

  .gradient2 {
    animation: moveInCircle 20s ease reverse;
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blening);
    opacity: 0.8;
    position: absolute;
    top: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    width: var(--circle-size);

background: radial-gradient(
      circle at center,
      rgba(var(--color-gradient-2), 0.8) 0,
      rgba(var(--color-gradient-2), 0) 50%
     ) no-repeat;
  }

  .gradient3 {
    animation: moveInCircle 40s linear infinite;
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2 + 20rem);
    mix-blend-mode: var(--blening);
    opacity: 0.8;
    position: absolute;
    top: calc(50% - var(--circle-size) / 2 - 50rem);
    transform-origin: calc(50% + 400px);
    width: var(--circle-size);

background: radial-gradient(
      circle at center,
      rgba(var(--color-gradient-3), 0.8) 0,
      rgba(var(--color-gradient-3), 0) 50%
     ) no-repeat;
  }

  .gradient4 {
    animation: moveHorizontal 40s ease infinite;
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blening);
    opacity: 0.5;
    position: absolute;
    top: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    width: var(--circle-size);

background: radial-gradient(
      circle at center,
      rgba(var(--color-gradient-4), 0.8) 0,
      rgba(var(--color-gradient-4), 0) 50%
     ) no-repeat;
  }

  .gradient5 {
    animation: moveInCircle 20s ease infinite;
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blening);
    opacity: 0.5;
    position: absolute;
    top: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    width: var(--circle-size);

background: radial-gradient(
      circle at center,
      rgba(var(--color-gradient-5), 0.8) 0,
      rgba(var(--color-gradient-5), 0) 50%
     ) no-repeat;
  }

  .interactive {
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    height: 100%;
    left: -50%;
    mix-blend-mode: var(--blending);
    opacity: 0.5;
    position: absolute;
    top: -50%;
    width: 100%;
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100%{
      transform: translateY(-50%);
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100%{
      transform: translateX(-50%) translateY(-10%);
    }
  }
}
