:root {
  /* Colors */
    /* Primary */
  --color-primary-50: rgba(240, 237, 253, 1);
  --color-primary-100: rgba(209, 199, 250, 1);
  --color-primary-200: rgba(187, 172, 248, 1);
  --color-primary-300: rgba(157, 134, 244, 1);
  --color-primary-400: rgba(137, 111, 242, 1);
  --color-primary-500: rgba(108, 75, 239, 1);
  --color-primary-600: rgba(98, 68, 217, 1);
  --color-primary-700: rgba(98, 68, 217, 1);
  --color-primary-800: rgba(59, 41, 131, 1);
  --color-primary-900: rgba(45, 32, 100, 1);
    /* Slate */
  --color-slate-50: rgba(248, 250, 252, 1);
  --color-slate-100: rgba(241, 245, 249, 1);
  --color-slate-200: rgba(226, 232, 240, 1);
  --color-slate-300: rgba(203, 213, 225, 1);
  --color-slate-400: rgba(148, 163, 184, 1);
  --color-slate-500: rgba(100, 116, 139, 1);
  --color-slate-600: rgba(71, 85, 105, 1);
  --color-slate-700: rgba(51, 65, 85, 1);
  --color-slate-800: rgba(30, 41, 59, 1);
  --color-slate-900: rgba(15, 23, 42, 1);
    /* Gray */
  --color-gray-50: rgba(249, 250, 251, 1);
  --color-gray-100: rgba(243, 244, 246, 1);
  --color-gray-200: rgba(229, 231, 235, 1);
  --color-gray-300: rgba(209, 213, 219, 1);
  --color-gray-400: rgba(156, 163, 175, 1);
  --color-gray-500: rgba(107, 114, 128, 1);
  --color-gray-600: rgba(75, 85, 99, 1);
  --color-gray-700: rgba(55, 65, 81, 1);
  --color-gray-800: rgba(31, 41, 55, 1);
  --color-gray-900: rgba(17, 24, 39, 1);
    /* Red (error) */
  --color-red-50: rgba(254, 242, 242, 1);
  --color-red-100: rgba(254, 226, 226, 1);
  --color-red-200: rgba(254, 202, 202, 1);
  --color-red-300: rgba(252, 165, 165, 1);
  --color-red-400: rgba(248, 113, 113, 1);
  --color-red-500: rgba(239, 68, 68, 1);
  --color-red-600: rgba(220, 38, 38, 1);
  --color-red-700: rgba(185, 28, 28, 1);
  --color-red-800: rgba(153, 27, 27, 1);
  --color-red-900: rgba(127, 29, 29, 1);
    /* Green (succes) */
  --color-green-50: rgba(240, 253, 244, 1);
  --color-green-100: rgba(220, 252, 231, 1);
  --color-green-200: rgba(187, 247, 208, 1);
  --color-green-300: rgba(187, 247, 208, 1);
  --color-green-400: rgba(74, 222, 128, 1);
  --color-green-500: rgba(34, 197, 94, 1);
  --color-green-600: rgba(22, 163, 74, 1);
  --color-green-700: rgba(21, 128, 61, 1);
  --color-green-800: rgba(22, 101, 52, 1);
  --color-green-900: rgba(20, 83, 45, 1);
    /* Orange (warning) */
  --color-orange-50: rgba(255, 247, 237, 1);
  --color-orange-100: rgba(255, 237, 213, 1);
  --color-orange-200: rgba(254, 215, 170, 1);
  --color-orange-300: rgba(253, 186, 116, 1);
  --color-orange-400: rgba(251, 146, 60, 1);
  --color-orange-500: rgba(249, 115, 22, 1);
  --color-orange-600: rgba(234, 88, 12, 1);
  --color-orange-700: rgba(194, 65, 12, 1);
  --color-orange-800: rgba(154, 52, 18, 1);
  --color-orange-900: rgba(124, 45, 18, 1);
    /* Blue (info) */
  --color-blue-50: rgba(239, 246, 255, 1);
  --color-blue-100: rgba(219, 234, 254, 1);
  --color-blue-200: rgba(191, 219, 254, 1);
  --color-blue-300: rgba(147, 197, 253, 1);
  --color-blue-400: rgba(96, 165, 250, 1);
  --color-blue-500: rgba(59, 130, 246, 1);
  --color-blue-600: rgba(37, 99, 235, 1);
  --color-blue-700: rgba(29, 78, 216, 1);
  --color-blue-800: rgba(30, 64, 175, 1);
  --color-blue-900: rgba(30, 58, 138, 1);
    /* Yellow */
  --color-yellow-50: rgba(254, 252, 232, 1);
  --color-yellow-100: rgba(254, 249, 195, 1);
  --color-yellow-200: rgba(254, 240, 138, 1)
  --color-yellow-300: rgba(254, 240, 138, 1);
  --color-yellow-400: rgba(250, 204, 21, 1);
  --color-yellow-500: rgba(234, 179, 8, 1);
  --color-yellow-600: rgba(234, 179, 8, 1);
  --color-yellow-700: rgba(161, 98, 7, 1);
  --color-yellow-800: rgba(133, 77, 14, 1);
  --color-yellow-900: rgba(113, 63, 18, 1);
    /* Cyan */
  --color-cyan-50: rgba(240, 253, 250, 1);
  --color-cyan-100: rgba(207, 250, 254, 1);
  --color-cyan-200: rgba(207, 250, 254, 1);
  --color-cyan-300: rgba(103, 232, 249, 1);
  --color-cyan-400: rgba(103, 232, 249, 1);
  --color-cyan-500: rgba(103, 232, 249, 1);
  --color-cyan-600: rgba(8, 145, 178, 1);
  --color-cyan-700: rgba(14, 116, 144, 1);
  --color-cyan-800: rgba(21, 94, 117, 1);
  --color-cyan-900: rgba(22, 78, 99, 1);

  /* Navbar background color */
  --color-nav-background: 22, 78, 99, 1;
  /* Animated gradient */
  --color-gradient-1: 18,113, 255;
  --color-gradient-2: 221, 74, 255;
  --color-gradient-3: 100, 220, 255;
  --color-gradient-4: 200, 50,50;
  --color-gradient-5: 180,180, 50;
  --color-interactive: 140, 100, 225;
  --circle-size: 80%;
  --blending: hard-light;

  /* Fonts */
  --font-size-hero-title: clamp(2.8rem, 3.158vw + 1.853rem, 6.4rem);
  --font-size-heading-large: clamp(2.4rem, 1.404vw + 1.979rem, 4rem);
  --font-size-heading-medium: clamp(2rem, 1.053vw + 1.684rem, 3.2rem);
  --font-size-body-large: clamp(2rem, 0.351vw + 1.895rem, 2.4rem);
  --font-size-body: clamp(1.6rem, 0.351vw + 1.495rem, 2rem);
  --font-size-nav-link: 1.6rem;
  --font-size-experience-text: 4rem;
  --font-size-button: 1.6rem;

  --line-height-hero-title: clamp(3.7rem, 3.246vw + 2.726rem, 7.4rem);
  --line-heigt-title: 120%;
  --line-height-body: clamp(2.4rem, 0.351vw + 2.295rem, 2.8rem);

  --font-weight-body: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;


  --letter-spacing-hero-title: clamp(0.56px, -0.088vw + 0.026rem, -1.28px);
  --leter-spacing-compressed: -0.4px;

  /* Max widht */
  --wrapper-max-width: 114rem;

  /* Padding */
  --wrapper-padding-inline: clamp(1.5rem, 1.566vw - 0.607rem, 2.4rem);

  /* Styling */
  --border-radius-card: 12px;
}

/* Css Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: inherit;
  overflow-x: hidden;
}

/* Base Styling */
body {
  background: var(--color-gray-900);
  background: linear-gradient(45deg, var(--color-blue-900), var(--color-gray-800));
  color: var(--color-gray-300);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  position: relative;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--wrapper-padding-inline);
}

section {
  margin-top: 8rem;
}
