.heroWrapper{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  margin-inline: auto;
  position: relative;
  text-align: center;
  width: 10 0%
}

.heroTitle {
  font-size: var(--font-size-hero-title);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-hero-title);
  line-height: var(--line-height-hero-title);
}

.heroSubTitle {
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-compressed);
  text-wrap:balance;
  margin-bottom: 4em;
}

@media (min-width: 640px) {
  .heroWrapper{
    width: 65%;
  }
}
