
/* Project Header */
.cardsGridSectionWrapper {
  text-align: center;
}

.cardsGridSectionHeaderText{
  width: 100%;
}

.cardsGridSectionHeaderText > h2{
  font-size: var(--font-size-heading-large);
  line-height: var(--line-heigth-title);
}

.cardsGridSectionHeaderText > p{
  font-size: var(--font-size-body);
  margin-top: 12px;
}


.btnWrapper {
  display: flex;
  justify-content: center;
  padding-top: 4.8rem ;

}


@media (min-width: 640px) {
  .cardsGridSectionWrapper {
    text-align: left;
  }

  .cardsGridSectionHeader{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .cardsGridSectionHeaderText{
    width: 60%;
  }

  .icon {
    align-items: center;
    display: flex;
    gap: 1.8rem;
  }
  .icon > span {
    display: inline-block;
  }
}
